@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  box-sizing: border-box;
}

.infinite-scroll-component__outerdiv {
  width: 100% !important;
}

.infinite-scroll-component {
  overflow: hidden !important;
}
